* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Colores:
        rgb(94, 19, 87)
        rgb(133, 74, 141)
        rgb(207, 207, 202)
        rgba(14, 3, 14, 0.8)
*/

body {
    font-family: 'Electrolize', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;
    color: rgb(207, 207, 202);
    background-color: rgba(14, 3, 14, 0.8);
}

.lienzoInicio {
    background: url("./fotos/foto1.jpg");
}

.lienzoSMR {
    background: url("./fotos/foto2.jpg");
}

.lienzoASIR {
    background: url("./fotos/foto3.jpg");
}

.lienzoDAW {
    background: url("./fotos/foto4.jpg");
}

.lienzoDAM {
    background: url("./fotos/foto5.jpg");
}

.lienzoCiber {
    background: url("./fotos/foto6.jpg");
}

/** Cabecera **/

input,
.hamborguesa {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: rgb(94, 19, 87);
    display: flex;
    justify-content: space-between;
    /*align-items: center;
    align-content: center;
    align-items: stretch;*/
    height: 45px;
    /*padding: 0.5%;*/
}

.inicio {
    font-size: 2.5em;
    flex-basis: 40%;
    padding: 0.05%;
}

.partes {
    display: flex;
    height: 100%;
    /*width: 46%;*/
    flex-basis: 46.5%;
    /*height: 50px;*/
    /*align-self: center;*/
}

.enlaces {
    align-self: center;
    height: 100%;
    padding: 1.5%;
    font-size: 1.5em;
    border-left: 1px solid rgb(207, 207, 202);
    /*border-right: 1px solid #f5f5f5;*/
}

.enlaces:last-of-type {
    visibility: hidden;
    display: none;
}

.enlaces:hover {
    background-color: rgb(133, 74, 141);
}

/** Principal**/



main {
    position: relative;
}

.contenedor {
    /*display: none;*/
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5vh auto;
    border-radius: 10px;
    /*position: absolute;*/
}

/*#inicio {
    position: relative;
    display: inherit;
}*/

.visible {
    display: block;
}

.invisible {
    display: none;
}

h1 {
    text-align: center;
    padding: 2%;
    font-size: 2em;
}

p {
    text-align: justify;
    font-size: 1.2em;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 15%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 40%;
}

footer {
    background-color: rgb(94, 19, 87);
    font-size: 1.2em;
    text-align: center;
    padding: 0.5%;
    letter-spacing: 0.2vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1800px) {
    header {
        display: flex;
        flex-flow: column;
        background-color: transparent;
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .esconder {
        /*display: none;*/
        display: flex;
        flex-flow: column;
        background-color: rgb(94, 19, 87);
        z-index: 9;
    }

    .inicio {
        display: none;
    }

    .enlaces {
        border: none;
        width: 100%;
        text-align: center;
    }

    .enlaces:last-of-type {
        border-top: 1px solid rgb(207, 207, 202);
        visibility: visible;
        display: initial;
    }

    input,
    .hamborguesa {
        visibility: visible;
    }

    input {
        display: block;
        width: 5vw;
        height: 5vh;
        position: absolute;
        top: 1vh;
        right: 2vw;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }

    .hamborguesa {
        cursor: pointer;
        width: 4%;
        height: 15%;
        position: absolute;
        top: 1vh;
        right: 4vw;
        transition: all 0.4s ease-in-out;
        z-index: 10;
    }

    .menu_plegado {
        transition: all 0.4s ease-in-out;
        transform: translateY(-150%);
    }

    .menu_desplegado {
        transition: all 0.4s ease-in-out;
        transform: translateY(0);
    }

    span {
        display: block;
        width: 100%;
        height: 8%;
        margin-bottom: 5px;
        top: 1vh;
        right: 4vw;
        background: rgb(207, 207, 202);
        border-radius: 3px;
        z-index: 1;
        transition: all 0.4s ease-in-out;
    }

    .icono_cruz>.segunda {
        transform: rotateY(90deg);
    }

    .icono_cruz>.primera {
        transform: translateY(3.5vh);

    }

    .icono_cruz>.tercera {
        transform: rotate(90deg);
    }

    .icono_cruz {
        transform: rotate(-45deg);
        transition-delay: 0.5s;
    }

}