    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
     :root {
        --colorprincipal: #dc73e4;
        --colorsecundario: #3b54af;
    }
    
    html {
        /*background-image: url(./img/favicon/android-chrome-512x512.png);*/
        /*background-repeat: no-repeat;*/
        /*Para que no salga en mosaico*/
        /*background-repeat: repeat-y; o repeat-x
        /*background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;*/
        background: url(./img/favicon/pocho.png) 200px top no-repeat, url(./img/favicon/android-chrome-512x512.png) right top;
        background-color: var(--colorprincipal);
        /*background: linear-gradient(to bottom, #dc73e4 0%, #5c305f 100%);*/
    }
    
    p {
        font-size: 1.4em;
        margin: 10px;
        padding: 20px;
    }
    
    strong {
        font-size: 1.7em;
        text-shadow: 0px 0px 2px yellow, -0px 0px 2px yellow, 0px -0px 2px yellow, -0px -0px 2px yellow;
    }
    /*@font-face {
    font-family: 'Benguiat Gothic';
    src: url(./fonts/Benguiat\ Gothic\ Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benguiat Gothic';
    src: url(./fonts/ITC\ Benguiat\ Gothic\ Std\ Bold.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}*/
    
    body {
        font-family: 'Benguiat Gothic';
    }
    
    .primerparrafo {
        background-color: var(--colorsecundario);
        transform: scale(0.8);
        transition: transform 2s linear 0s, filter 10s 2s;
    }
    
    .primerparrafo:hover {
        transform: scale(1.0);
        filter: opacity(5%);
    }
    
    .seccion1 {
        font-weight: bold;
    }
    
    #findetexto {
        color: blue;
    }
    
    span {
        font-style: italic;
    }
    
    mark {
        background-color: pink;
    }
    
    abbr {
        text-decoration: none;
    }
    
    figcaption {
        color: mediumvioletred;
    }
    
    ul {
        list-style-type: circle;
        list-style-image: url(./img/favicon/favicon-32x32.png);
    }
    
    ol li {
        color: green;
        font-weight: bold;
        list-style-type: lower-greek;
        list-style-position: inside;
        list-style-image: url(./img/favicon/favicon-32x32.png);
    }
    
    table {
        text-align: center;
        border: solid #9e8309 2px;
        border-radius: 10px;
    }
    
    td,
    th {
        border: solid #810e44 2px;
        border-radius: 5px;
    }
    
    fieldset {
        border-radius: 10px;
        border-color: #390574;
        margin: 5px;
    }
    
    input {
        border-radius: 5px;
        border-color: #035a66;
    }
    
    section p~p {
        background-color: violet;
    }
    /*.primerparrafo span {
    background-color: purple;
}*/
    
    th[colspan] {
        color: #390574;
    }
    
    blockquote {
        background-color: plum;
    }
    
    blockquote~blockquote {
        background-color: pink;
    }
    
    p>em {
        color: steelblue;
    }
    
    body>p,
    nav>p {
        color: coral;
    }
    
    nav * li:nth-child(odd) {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    
    nav * li:nth-child(even) {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    section p:first-child {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    
    section p:last-child {
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        font-stretch: extra-expanded;
    }
    
    h2:first-of-type {
        font-size: 70px;
    }
    
    section :not(span):not(p) {
        font-size: xx-small;
        font-weight: bold;
    }
    
    nav a:hover {
        font-size: 50px;
    }
    
    input[type="submit"]:active {
        font-size: 40px;
    }
    
    section a:active {
        font-size: 60px;
        background-color: cyan;
    }
    
    a:visited {
        background-color: pink;
        color: lightgreen;
        text-decoration: none;
    }
    
    a:link {
        background-color: grey;
        color: lightcoral;
        text-decoration: none;
    }
    
    input:required {
        background-color: lightseagreen;
        border: 3px solid orange;
    }
    
    input:optional {
        background-color: lightsalmon;
    }
    
    input:in-range {
        background-color: lightgreen;
    }
    
    input:out-of-range {
        background-color: pink;
    }
    
    input:focus {
        background-color: yellow;
    }
    
    input:valid {
        color: green;
    }
    
    input:invalid {
        color: red;
    }
    
    input[type="checkbox"]:checked {
        box-shadow: 3px 3px 3px blueviolet;
    }
    
    input[type="checkbox"]:not(:checked) {
        box-shadow: 3px 3px 3px pink;
    }
    
    input:default {
        box-shadow: 0px 0px 5px magenta;
    }
    
    h1::first-letter {
        color: crimson;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5em;
    }
    
    .alguna::first-line {
        color: cornflowerblue;
        font-weight: 900;
    }
    
     ::selection {
        color: violet;
        background-color: mediumaquamarine;
    }
    
    #cita::before {
        content: "···";
        color: deeppink;
        font-weight: bold;
        font-size: 3em;
        width: 100px;
        display: inline-block;
    }
    
    #cita::after {
        content: "---";
        color: dodgerblue;
        font-weight: bold;
        font-size: 3em;
        width: 100px;
        display: inline-block;
        margin: 2em;
    }
    
    h2 {
        font-size: 6vw;
        width: 100%;
        background-color: yellow;
        text-align: center;
        border-width: 25px;
        border-top-width: 20px;
        border-bottom-width: 30px;
        border-left-width: 50px;
        border-right-width: 2px;
        border-style: solid;
        border-color: palevioletred;
        border-left-color: blueviolet;
        border-right-color: brown;
        border-top-color: aqua;
        border-bottom-color: darkmagenta;
        border-top-style: dotted;
        border-bottom-style: solid;
        border-left-style: double;
        border-right-style: groove;
        border-radius: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 250px;
        /* style width color*/
        /*text-shadow: desplazamiento-x desplazamiento-y desenfoque*/
    }
    
    .deluxe {
        background-color: white;
        color: black;
        /*font-family: 'Spinnaker', sans-serif;*/
        font-size: 1.5em;
        line-height: 1.7em;
        /* justify center */
        text-align: left;
        letter-spacing: 2pt;
        word-spacing: 54pt;
        /* Mueve la ultima linea de texto*/
        text-align-last: right;
        text-decoration: line-through;
        text-decoration-color: deeppink;
        text-indent: 10%;
        /*text-shadow: desplazamiento-x desplazamiento-y desenfoque*/
        text-shadow: -10px -10px 5px fuchsia, 20px 20px 1px blue;
        box-shadow: 10px 10px 90px #035a66
    }
    /*
    font: 1.5em/1.7 'Spinnaker';
*/
    
    .deluxe span {
        /*font-family: 'Encode Sans Condensed', sans-serif;*/
        font-size: 1.6em;
        color: green;
        font-weight: 900;
        font-style: normal;
        font-variant: small-caps;
        background-color: white;
        text-shadow: 10px 10px 5px fuchsia;
        text-shadow: 0px 0px 5px rgb(49, 22, 38);
        /*Linear-gradient (posicion,angulo y color)*/
        background: linear-gradient(-45deg, red 50%, yellow 60%, purple 30%, orange 10%, cyan 90%);
    }
    
    .deluxe {
        background: rgb(237, 72, 119);
        background: radial-gradient(circle, rgba(237, 72, 119, 1) 5%, rgba(94, 90, 227, 1) 12%, rgba(175, 81, 166, 1) 18%, rgba(128, 86, 201, 1) 20%, rgba(127, 86, 202, 1) 29%, rgba(94, 90, 227, 1) 44%, rgba(127, 86, 202, 1) 44%, rgba(169, 81, 170, 1) 56%, rgba(173, 81, 167, 1) 58%, rgba(201, 77, 146, 1) 73%, rgba(63, 94, 251, 1) 77%, rgba(218, 75, 133, 1) 82%, rgba(94, 90, 227, 1) 93%, rgba(252, 70, 107, 1) 100%);
    }
    /*
    font: normal small-caps 900 1.6em 'Encode Sans';
*/
    /*Importar fuentes locales */
    /*@font-face {
        font-family: 'Benguiat Gothic', sans-serif;
        font-style: normal;
        font-weight: 400;
        src: url(./fonts/Benguiat\ Gothic\ Regular.ttf) format('truetype');
    }*/
    
    @font-face {
        font-family: 'Benguiat Gothic';
        src: url(./fonts/Benguiat\ Gothic\ Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Benguiat Gothic';
        src: url(./fonts/ITC\ Benguiat\ Gothic\ Std\ Bold.otf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    
    nav {
        border: solid 35px mediumaquamarine;
        border-bottom-color: navy;
        /* shorthand: border-left border-right... */
        border-top: dotted 68px palevioletred;
        border-radius: 20px;
        /*text-shadow: desplazamiento-x desplazamiento-y desenfoque*/
    }
    
    #degradado {
        background: linear-gradient(90deg, rgba(60, 10, 200, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(247, 168, 0, 0.3) 50%);
    }
    
    #findetexto {
        background: radial-gradient(circle at bottom center, #48219F 0%, red 50%, #b7a930 100%);
    }
    
    #imagen:hover {
        filter: grayscale(100%);
        filter: blur(10px);
    }
    
    #habitacion:hover {
        filter: blur(5px) grayscale(50%);
        filter: invert(100%);
        filter: hue-rotate(200deg);
        filter: sepia(50%);
        filter: brightness(500%);
        filter: contrast(700%);
        filter: saturate(8%);
        filter: opacity(30%);
        filter: drop-shadow(15px 15px red);
    }
    /*Transformaciones, se pueden aplicar a cualquier elemento HTML, al igual que filtros, animaciones, transiciones...*/
    
    #marge {
        border: brown 3px solid;
        transition-property: transform;
        transition-duration: 10s;
        transition-delay: 500ms;
        transition-timing-function: ease-in-out;
    }
    
    #marge:hover {
        /*transform: scale(2.5, 0.5);
        transform: scaleX(3.5) scaleY(0.5);
        /*Hacen lo mismo*/
        /* transform: translate(100px, -300px);
        transform: scale3d(0.0 0.0 2.0);
        transform: skew(-30deg, -80deg);
        transform: skewX(-30deg) skewY(-80deg);
        /*Hacen lo mismo*/
        /*Rotaciones */
        /*transform: rotateX(65deg) rotateY(45deg) rotateZ(45deg);*/
        /*Transiciones*/
        transform: translate(300px);
    }
    
    .animaciones {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        border: 10px solid blueviolet;
        text-align: center;
        color: white;
        background-color: black;
        animation: mianimacion 10s 0s infinite alternate linear forwards;
        /*
        Animation separada*/
        animation-name: mianimacion;
        animation-duration: 10s;
        animation-delay: 5s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        /* forwards backwards reverse alternate alternate-reverse*/
        animation-fill-mode: backwards;
        /* forwards backwards both*/
    }
    
    @keyframes mianimacion {
        20% {
            background-color: tomato;
        }
        40% {
            background-color: turquoise;
        }
        60% {
            background-color: aquamarine;
            transform: rotateX(80deg);
        }
        80% {
            background-color: coral;
            font-size: 2.4em;
        }
        100% {
            background-color: mediumaquamarine;
        }
    }