* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/*
.container {
    border: 5px solid black;
    margin: auto;
    width: 90%;
    height: 40vh;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.container>div {
    background-color: darkcyan;
    border: 5px solid black;
    text-align: center;
    padding: 20px;
}*/


/*.container {
    border: 5px solid black;
    margin: auto;
    width: 90%;
    height: 40vh;
    display: grid;
    grid-template-rows: 2fr, repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr), 2fr;
    grid-template-areas: 
        "area1 area1 area2 area3 area4"
        "area5 area6 area6 area6 area6"
        "area12 area12 area7 area9 area9"
        "area12 area12 area8 area10 area11";
}*/

.container {
    background-color: darkcyan;
    border: 5px solid black;
    width: 1000px;
    height: 700px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(5, 1fr);
    /*grid-template: repeat(3, 200px)/repeat(4, 200px);*/
    /* grid-template-areas: "area1 area1 . . ." ". area6 area6 area6 area6" "area12 area12 . area9 area9" "area12 area12 . . .";*/
    /*  justify-items: start;
    align-items: center;*/
    /*gap: 20px;
    padding: 20px;*/
    margin: 0 auto;
    place-items: end start;
    /*align-content: space-around;
    justify-content: space-between;*/
    place-content: start end;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    /*grid-auto-rows: ;*/
    grid-auto-columns: minmax(10px, 2fr);
}

.container>div {
    background-color: paleturquoise;
    border: 5px solid black;
    text-align: center;
    /*width: 150px;*/
    /*height: 150px;*/
    /*padding: 60px;*/
}

.c1 {
    /*    grid-area: area1;*/
    /*grid-column-start: 2;
    grid-column-end: 3;*/
    /*grid-column: 2/3;*/
    /* grid-column abreviada*/
    /* grid-row-start: 2;
    grid-row-end: 3;*/
    /*grid-row: 2/3;*/
    /* grid-row abreviada*/
    grid-column: 4 / span 2;
    grid-row: 1 / 2;
    background-color: blueviolet;
}

.c2 {
    /*    grid-area: area2;*/
    /*grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;*/
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    background-color: blueviolet;
    /*align-self: center;
    justify-self: center;*/
    /* Propiedad abreviada*/
    /*place-self: center end;*/
}

.c3 {
    /*  grid-area: area3;*/
    /* grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;*/
    grid-column: 1/2;
    grid-row: 1/ span 2;
    background-color: blueviolet;
}

.c4 {
    /*    grid-area: area4;*/
    grid-area: 3/5/4/6;
}

.c5 {
    grid-column: 2/span 3;
}


/*
.c6 {
    grid-area: area6;
    background-color: paleturquoise;
}


*/

.c7 {
    /*grid-area: area7;*/
    grid-area: 4/5/5/6;
}

.c8 {
    /*  grid-area: area8;*/
    grid-column: 3/4;
    grid-row: 1/2;
}

.c9 {
    background-color: paleturquoise;
    grid-column: 2/3;
    grid-row: 3/span 2;
}

.c10 {
    /*    grid-area: area10;*/
    /*grid-row: 1/2;
    grid-column: 2/3;*/
    grid-area: 1/6/2/7;
}

.c11 {
    /* grid-area: area11;*/
    grid-row: 4/5;
    grid-column: 1/2;
}

.c12 {
    /*   grid-area: area12;
    background-color: paleturquoise;*/
    grid-row: 3/4;
    grid-column: 1/2;
}